
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.casilla-texto{
    border:0ch;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #ced4da;
}

.deleteButton{
    color: red;
}

.toDo{
    margin-top: 30px;
    text-align: -webkit-center;
}

.inputBoxToDo{
    width: 700px;
    font-size: 20px;
    align-self: center;
}

.taskElement{
    font-size: 20px;
    font-weight: bolder;
}

.titleBox{
    margin-top: 100px;
}

.title{
    font-size: 80px;
    color: black;
    /* text-shadow: red 0.1em 0.1em 0.3em; */
    text-shadow: 0 0 0.2em rgb(248, 107, 107), 0 0 0.3em rgb(248, 107, 107)
}